input(type="checkbox" name="days" value="Monday" id="Monday-{i}" checked)
label(for="Monday-{i}") M
input(type="checkbox" name="days" value="Tuesday" id="Tuesday-{i}" checked)
label(for="Tuesday-{i}") Tu
input(type="checkbox" name="days" value="Wednesday" id="Wednesday-{i}" checked)
label(for="Wednesday-{i}") W
input(type="checkbox" name="days" value="Thursday" id="Thursday-{i}" checked)
label(for="Thursday-{i}") Th
input(type="checkbox" name="days" value="Friday" id="Friday-{i}" checked)
label(for="Friday-{i}") F
input(type="checkbox" name="days" value="Saturday" id="Saturday-{i}")
label(for="Saturday-{i}") Sa
input(type="checkbox" name="days" value="Sunday" id="Sunday-{i}")
label(for="Sunday-{i}") Su
