doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/all.min.css")
        link(rel="stylesheet" href="/css/bulma.min.css")
        link(rel="stylesheet" href="/css/styles.css")
    body

        #container
            #controls
                button.button#add-rule
                    span.icon
                        i.fa-solid.fa-plus
                    span Add Rule

                div#num-of-rules No rules
                div#save-rules
                        i.fa-solid.fa-floppy-disk
            #rules

        script(type="module" src="/js/index.js")
        script#rule-template(type="code")
            .rule-container(id="{i}")
                i.del-rule.fa-solid.fa-trash(id="del-{i}")
                span Take a break: #[br]
                .interval-container
                    span every
                    select.interval
                       include ./intervals.pug 
                .days-container
                    span on
                    include ./days.pug 
                    
                .time-container
                    span from
                    select.from
                       include ./from.pug 
                        
                    span &nbsp;&nbsp;to

                    select.to
                       include ./to.pug 
