option(value=10) 10 mins
option(value=15) 15 mins
option(value=20) 20 mins
option(value=25) 25 mins
option(value=30 selected) 30 mins
option(value=35) 35 mins
option(value=40) 40 mins
option(value=45) 45 mins
option(value=50) 50 mins
option(value=55) 55 mins
option(value=60) 60 mins
